@plugin "flowbite/plugin";
@import "tailwindcss";
@source "../**/*.blade.php";
@source "../**/*.{js,jsx,ts,tsx,vue}";
@source "../../storage/framework/views/*.php";
@source "./node_modules/flowbite/**/*.js";
